<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Wikinimous</a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to "New Article" , new_article_path %></button>
  </form>
</nav>

<h1>Edit article</h1>

<%= form_with model:@article do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>

<p><%= link_to "Back", articles_path %></p>
